<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>

<button (click)="flipCard()">Click Me</button>
<ul>
<li *ngFor="let item of this.cardData; let i = index">
{{test1}} guyhiuhuhi
</li>
</ul>

  <ul>
  <li *ngFor="let item of this.cardData; let i = index">
      <ngx-flip [flip]="this.flipDiv">
  <div front style="width: 18rem;" >

      <div  class="card" style="width: 18rem;">
          <img src="https://images.all-free-download.com/images/graphiclarge/grass_trees_hd_picture_165975.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Activity</h5>
            <p class="card-text">Saved Lbs</p>
            <a href="#" class="btn btn-primary">Add</a>
            <a href="#" class="btn btn-primary">Remove</a>
          </div>
        </div>
      </div>
  <div back style="width: 18rem;">
      <div class="card" style="width: 18rem;">
          <img src="https://images.all-free-download.com/images/graphiclarge/grass_trees_hd_picture_165975.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Activity</h5>
            <p class="card-text">Saved Lbs</p>
            <a href="#" class="btn btn-primary">Add</a>
            <a href="#" class="btn btn-primary">Remove</a>
          </div>
        </div>
      </div>

    </ngx-flip>
    </li>
  </ul>
